services:
  remnanode:
    container_name: remnanode
    hostname: remnanode
    image: remnawave/node:latest
    networks:
      - remnawave-network
    ports:
      - "2222:2222"
    restart: always
    environment:
      NODE_PORT: "2222"
      SECRET_KEY: ${SECRET_KEY}

  remnawave-subscription-page:
    image: remnawave/subscription-page:latest
    container_name: remnawave-subscription-page
    hostname: remnawave-subscription-page
    volumes:
      - ./app-config.json:/opt/app/frontend/assets/app-config.json
    restart: always
    env_file:
      - ./env_sub
    networks:
      - remnawave-network

  caddy:
    image: caddy:2.9
    container_name: caddy
    hostname: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"  # HTTP/3 support
    networks:
      - remnawave-network
    environment:
      DOMAIN: ${DOMAIN}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy-data:/data
      - caddy-config:/config
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - remnanode
      - remnawave-subscription-page

networks:
  remnawave-network:
    name: remnawave-network
    driver: bridge

volumes:
  caddy-data:
    driver: local
    name: caddy-data
  caddy-config:
    driver: local
    name: caddy-config